<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label nzFor="path">Path</nz-form-label>
    <nz-form-control nzErrorTip="The path must be specified!">
      <nz-input-group>
        <div nz-col nzSpan="16">
          <input nz-input type="text" formControlName="path" id="path">
        </div>
        <div nz-col nzSpan="8">
          <button nz-button nzBlock (click)="chooseFile()"><i nz-icon nzType="upload"></i> Choose file</button>
        </div>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  <button nz-button nzType="primary" (click)="handleOk()" [disabled]="!form.valid">OK</button>
</div>
