<div id="list-actions">
  <button nz-button nzType="default" (click)="showModal()"><i nz-icon nzType="plus" nzTheme="outline"></i> Add</button>
</div>

<div id="list">
  <ul nz-menu nzMode="inline">
    <li nz-menu-item *ngFor="let e of credentials" [nzSelected]="e === credentialsSelected" (click)="selectCredentials(e)">{{e.name}}</li>
  </ul>
</div>

<div id="details-actions">
  <button nz-button nzType="danger" (click)="deleteCredentials(credentialsSelected)"><i nz-icon nzType="delete" nzTheme="outline"></i> Delete</button>
  <button nz-button nzType="default" disabled><i nz-icon nzType="export" nzTheme="outline"></i> Export</button>
  <button nz-button nzType="default" (click)="showModal(credentialsSelected)"><i nz-icon nzType="setting" nzTheme="outline"></i> Advanced configuration</button>
  <button nz-button nzType="primary" (click)="saveCredentials()" [disabled]="!formValid"><i nz-icon nzType="save" nzTheme="outline"></i> Save</button>
</div>

<div id="details">
  <ng-container [ngSwitch]="credentialsSelected.type">
    <div *ngSwitchCase="'reddit'" class="configurator">
      <h3>Credentials for Reddit</h3>
      <h4>{{credentialsSelected.name}}</h4>

      <app-reddit-credentials
        [credentials]="credentialsSelected"
        (validityChanges)="validityChanges($event)"
        #configurator
      ></app-reddit-credentials>
    </div>
  </ng-container>
</div>
