<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label nzFor="name">Name</nz-form-label>
    <nz-form-control nzErrorTip="The name must be specified!">
      <input nz-input type="text" formControlName="name" id="name">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="type">Type</nz-form-label>
    <nz-form-control nzErrorTip="The type must be specified!">
      <nz-select formControlName="type" id="type">
        <nz-option *ngFor="let type of types" [nzLabel]="type[0]" [nzValue]="type[1]"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  <button nz-button nzType="primary" (click)="handleOk()" [disabled]="!form.valid">OK</button>
</div>
