<div id="actions">
  <div class="actions-main">
    <button nz-button nzType="primary" nzBlock (click)="run()" [disabled]="!canRun">
      <i nz-icon nzType="right"></i>
      Run
    </button>

    <nz-progress class="progress" [nzPercent]="downloadItems.run.progress" *ngIf="downloadItems && downloadItems.run.state > 0"></nz-progress>
  </div>
</div>

<div id="list" *ngIf="downloadItems && downloadItems.output.length > 0 else empty">
  <div class="list-item" *ngFor="let item of itemsMarked">
    <span class="item-title">{{item.input.title}}</span>
    <span *ngIf="item.input.url" class="item-media"><a href="javascript:void(0)" (click)="openBrowser(item.input.url)">{{item.input.url}}</a></span>

    <nz-progress
      *ngIf="showProgress(item)"
      class="progress"
      [nzPercent]="item.run.progress"
    ></nz-progress>

    <ng-container *ngIf="item.input.downloadInfo.error" [ngSwitch]="item.input.downloadInfo.error">
      <span *ngSwitchCase="DownloadError.NoDownloadModule" class="message-error">No downloader available</span>
      <span *ngSwitchCase="DownloadError.Unknown" class="message-error">Unknown error</span>
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <nz-empty></nz-empty>
</ng-template>
