:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
}

#actions {
  padding: 8px;
  border-bottom: 2px solid #eee;
}

#list {
  overflow: auto;
}

.list-item {
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;

  .item-title {
    font-weight: bold;
    margin-right: 6px;
    padding: 0;
  }
}

.progress {
  width: 100%;
}

.message-error {
  color: red;
}

nz-empty {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
