:host {
  display: grid;
  overflow: auto;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "config config"
    "analyse run";
}

#config {
  grid-area: config;
  padding: 10px;
  border-bottom: 3px solid #eee;

  .config-block {
    display: inline-block;
    margin-right: 24px;

    nz-select {
      margin-left: 8px;
      min-width: 200px;
    }
  }
}

#analyse {
  overflow: auto;
  grid-area: analyse;
  border-right: 3px solid #eee;
}

#run {
  overflow: auto;
  grid-area: run;
}
