<ng-container *ngIf="configs && credentials">
  <div id="config">
    <div class="config-block">
      <span>Credentials:</span>
      <nz-select [(ngModel)]="credentialsSelected">
        <nz-option *ngFor="let c of credentials" [nzLabel]="c.name" [nzValue]="c"></nz-option>
      </nz-select>
    </div>

    <div class="config-block">
      <span>Config:</span>
      <nz-select [(ngModel)]="configSelected" (ngModelChange)="onChangeConfig($event)">
        <nz-option *ngFor="let c of configs" [nzLabel]="c.name" [nzValue]="c"></nz-option>
      </nz-select>
    </div>
  </div>

  <app-run-source
    *ngIf="configSelected && credentialsSelected"
    id="analyse"
    #runSourceComponent
    [index]="index"
    [allowedRun]="canLaunchAnalyse()"
    [config]="configSelected"
    [credentials]="credentialsSelected"
    (runStarted)="onAnalyseStarted()"
    (runFinished)="onAnalyseFinished($event)"
  ></app-run-source>

  <app-run-download
    *ngIf="configSelected && credentialsSelected"
    id="run"
    #runDownloadComponent
    [config]="configSelected"
    [index]="index"
    [allowedRun]="canLaunchRun()"
    [sourceItems]="sourceItems"
    (runStarted)="onDownloadStarted()"
    (mediaDownloaded)="onMediaDownloaded($event)"
    (itemDownloaded)="onItemDownloaded($event)"
    (runFinished)="onDownloadFinished($event)"
  ></app-run-download>
</ng-container>
