.content {
  //padding: 0 20px;
  padding-top: 10px;
  max-width: 1000px;
  margin: auto;

  & > button,
  & > div,
  & > nz-card {
    margin-bottom: 10px;
  }

  .workspace {
    display: flex;
  }
}
