<div class="content">
  <h2>Configure workspaces</h2>
  <p>
    Here you can configure the workspaces you have opened in this session.
    You can also import an existing one if it is not opened, or create a new one.
  </p>

  <div class="actions">
    <button
      nz-button
      nzType="default"
      nzBlock
      nzSize="large"
      (click)="openAdd()"
    >
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      Add
    </button>
  </div>

  <div class="workspace">
    <nz-select
      *ngIf="workspaces.length > 0"
      [ngModel]="workspace.path"
      (ngModelChange)="changeWorkspace($event)"
      nzSize="large"
      style="width: 100%;"
    >
      <nz-option *ngFor="let workspace of workspaces" [nzLabel]="workspace" [nzValue]="workspace"></nz-option>
    </nz-select>

    <button
      *ngIf="workspace"
      (click)="openEdit()"
      nz-button
      nzType="default"
      nzSize="large"
      nz-tooltip
      nzTitle="Edit"
    >
      <i nz-icon nzType="setting" nzTheme="outline"></i>
    </button>
    <button
      *ngIf="workspace"
      (click)="deleteWorkspace()"
      nz-button
      nzType="danger"
      nzSize="large"
      nz-tooltip
      nzTitle="Delete"
    >
      <i nz-icon nzType="delete" nzTheme="outline"></i>
    </button>
  </div>

  <nz-card class="workspace-configs" *ngIf="workspace" nzTitle="Configs available" [nzExtra]="confConfigs">
    {{workspace.configs.length}} configs
  </nz-card>

  <nz-card class="workspace-credentials" *ngIf="workspace" nzTitle="Credentials available" [nzExtra]="confCredentials">
    {{workspace.credentials.length}} credentials
  </nz-card>
</div>

<ng-template #confConfigs>
  <a routerLink="/config-configs"><i nz-icon nzType="setting"></i></a>
</ng-template>

<ng-template #confCredentials>
  <a routerLink="/config-credentials"><i nz-icon nzType="setting"></i></a>
</ng-template>
