<ul nz-menu nzMode="horizontal">
  <li nz-submenu nzTitle="Configuration" nzIcon="setting">
    <ul>
      <li nz-menu-item nzMatchRouter routerLink="/config-workspace">
        <i nz-icon nzType="bars" nzTheme="outline"></i>
        Workspace
      </li>

      <li nz-menu-item nzMatchRouter routerLink="/config-credentials">
        <i nz-icon nzType="key" nzTheme="outline"></i>
        Credentials
      </li>

      <li nz-menu-item nzMatchRouter routerLink="/config-configs">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
        Configs
      </li>
    </ul>
  </li>

  <li nz-menu-item nzMatchRouter routerLink="/view">
    <i nz-icon nzType="eye" nzTheme="outline"></i>
    View
  </li>

  <li nz-menu-item nzMatchRouter routerLink="/run">
    <i nz-icon nzType="right" nzTheme="outline"></i>
    Run
  </li>
</ul>

<router-outlet></router-outlet>
