<div id="list-actions">
  <button nz-button nzType="default" (click)="showModal()"><i nz-icon nzType="plus" nzTheme="outline"></i> Add</button>
</div>

<div id="list">
  <ul nz-menu nzMode="inline">
    <li nz-menu-item *ngFor="let e of configs" [nzSelected]="e === configSelected" (click)="selectConfig(e)">{{e.name}}</li>
  </ul>
</div>

<div id="details-actions">
  <button nz-button nzType="danger" (click)="deleteConfig(configSelected)"><i nz-icon nzType="delete" nzTheme="outline"></i> Delete</button>
  <button nz-button nzType="default" disabled><i nz-icon nzType="export" nzTheme="outline"></i> Export</button>
  <button nz-button nzType="default" (click)="showModal(configSelected)"><i nz-icon nzType="setting" nzTheme="outline"></i> Advanced configuration</button>
  <button nz-button nzType="primary" (click)="saveConfig()" [disabled]="!formValid"><i nz-icon nzType="save" nzTheme="outline"></i> Save</button>
</div>

<div id="details">
  <ng-container [ngSwitch]="configSelected.type">
    <div *ngSwitchCase="'reddit'" class="container configurator overflow-vertical">
      <h3>Config for Reddit</h3>
      <h4>{{configSelected.name}}</h4>

      <app-reddit-config
        [config]="configSelected"
        (validityChanges)="validityChanges($event)"
        #configurator
      ></app-reddit-config>
    </div>
  </ng-container>
</div>
