:host {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "list-actions details-actions"
    "list details";
  overflow: auto;
}

#list {
  grid-area: list;
  overflow: auto;

  ul {
    height: 100%;
  }
}

#list-actions {
  grid-area: list-actions;
  padding: 8px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#details {
  grid-area: details;
  padding: 10px 18px;
  overflow: auto;
}

#details-actions {
  grid-area: details-actions;
  border-bottom: 1px solid #eee;
  padding: 8px;
}
