<form nz-form [formGroup]="form">
  <!--<nz-form-item>
    <nz-form-label nzFor="path">Path</nz-form-label>
    <nz-form-control nzErrorTip="The path must be specified!">
      <nz-input-group>
        <div nz-col nzSpan="16">
          <input nz-input type="text" formControlName="path" id="path">
        </div>
        <div nz-col nzSpan="8">
          <button nz-button nzBlock (click)="chooseFileConfig()"><i nz-icon nzType="upload"></i> Choose file</button>
        </div>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>-->

  <nz-form-item>
    <nz-form-label nzFor="name">Name</nz-form-label>
    <nz-form-control nzErrorTip="The name must be specified!">
      <input nz-input type="text" formControlName="name" id="name">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="type">Type</nz-form-label>
    <nz-form-control nzErrorTip="The type must be specified!">
      <nz-select formControlName="type" id="type">
        <nz-option *ngFor="let type of types" [nzLabel]="type[0]" [nzValue]="type[1]"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="pathMedias">Media path</nz-form-label>
    <nz-form-control nzErrorTip="The media path must be specified!">
      <nz-input-group>
        <div nz-col nzSpan="16">
          <input nz-input type="text" formControlName="pathMedias" id="pathMedias" readonly>
        </div>
        <div nz-col nzSpan="8">
          <button nz-button nzBlock (click)="chooseDirectory('pathMedias')"><i nz-icon nzType="upload"></i> Choose directory</button>
        </div>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="pathItems">Items path</nz-form-label>
    <nz-form-control nzErrorTip="The items path must be specified!">
      <nz-input-group>
        <div nz-col nzSpan="16">
          <input nz-input type="text" formControlName="pathItems" id="pathItems" readonly>
        </div>
        <div nz-col nzSpan="8">
          <button nz-button nzBlock (click)="chooseDirectory('pathItems')"><i nz-icon nzType="upload"></i> Choose directory</button>
        </div>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  <button nz-button nzType="primary" (click)="handleOk()" [disabled]="!form.valid">OK</button>
</div>
