:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
}

#actions {
  padding: 8px;
  border-bottom: 2px solid #eee;

  .actions-select {
    margin-top: 4px;
    display: flex;
    flex-direction: row;

    button {
      margin-right: 6px;
    }
  }
}

#list {
  overflow: auto;
}

.list-item {
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;

  .list-item-header {
    display: flex;
  }

  .item-checkbox {
    margin-right: 8px;
  }

  .item-title {
    font-weight: bold;
    margin-right: 6px;
    padding: 0;
  }
}

nz-empty {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
