<div id="actions">
  <div class="actions-main">
    <button nz-button nzType="primary" nzBlock (click)="run()" [disabled]="!canRun">
      <i nz-icon nzType="search"></i>
      Analyse
    </button>
  </div>

  <div class="actions-select" *ngIf="sourceItems && sourceItems.output.length > 0">
    <button nz-button (click)="selectAll()" [disabled]="running">Select all</button>
    <button nz-button (click)="selectNone()" [disabled]="running">Select none</button>
  </div>
</div>

<div id="list" *ngIf="sourceItems && sourceItems.output.length > 0 else empty">
  <div class="list-item" *ngFor="let item of sourceItems.output">
    <div class="list-item-header">
      <label nz-checkbox [(ngModel)]="item.downloadInfo.marked" class="item-checkbox" [disabled]="running"></label>
      <span class="item-title">{{item.title}}</span>
    </div>

    <span *ngIf="item.url" class="item-media"><a href="javascript:void(0)" (click)="openBrowser(item.url)">{{item.url}}</a></span>
  </div>
</div>

<ng-template #empty>
  <nz-empty></nz-empty>
</ng-template>
