/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}

#screen {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
}

router-outlet {
  display: none;
}

/*.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.overflow-vertical {
  height: 1px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}*/
