<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label nzFor="userAgent">User agent</nz-form-label>
    <nz-form-control nzErrorTip="The user agent must be given!">
      <input nz-input type="text" formControlName="userAgent" id="userAgent">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="clientId">Client ID</nz-form-label>
    <nz-form-control nzErrorTip="The client ID must be given!">
      <input nz-input type="text" formControlName="clientId" id="clientId">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="clientSecret">Client Secret</nz-form-label>
    <nz-form-control nzErrorTip="The client secret must be given!">
      <input nz-input type="text" formControlName="clientSecret" id="clientSecret">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="refreshToken">Refresh token</nz-form-label>
    <nz-form-control nzErrorTip="The refresh token must be given!">
      <input nz-input type="text" formControlName="refreshToken" id="refreshToken">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="username">Username</nz-form-label>
    <nz-form-control nzErrorTip="The username must be given!">
      <input nz-input type="text" formControlName="username" id="username">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="password">Password</nz-form-label>
    <nz-form-control nzErrorTip="The password must be given!">
      <input nz-input type="password" formControlName="password" id="password">
    </nz-form-control>
  </nz-form-item>
</form>
