<!--SELECT CONFIG-->
<div id="config-select">
  <nz-select [(ngModel)]="config" (ngModelChange)="onChangeConfig($event)">
    <nz-option *ngFor="let config of configs" [nzLabel]="config.name" [nzValue]="config"></nz-option>
  </nz-select>
</div>

<!--INFO ON CONFIG DIV-->
<div id="config-info" *ngIf="index">
</div>

<!--VIEW-->
<div id="view" *ngIf="items">
  <div id="view-no-selection" class="view" *ngIf="!selectedItem">
    <div class="item" *ngFor="let item of items" (click)="selectItem(item)">
      <div class="image-wrapper">
        <img [src]="getImageForItem(item)">
      </div>
      <h4 class="title">{{item.id}}</h4>
    </div>
  </div>

  <div id="view-selection" class="view" *ngIf="selectedItem">
    <div id="item-list">
      <div class="item" *ngFor="let item of items" (click)="selectItem(item)" [class.selected]="item === selectedItem">
        <div class="image-wrapper">
          <img [src]="getImageForItem(item)">
        </div>
        <div class="description">
          <h3 class="title">{{item.title}}</h3>
        </div>
      </div>
    </div>

    <nz-tabset id="item-details">
      <nz-tab nzTitle="Data">
        <img [src]="getImageForItem(selectedItem)">
      </nz-tab>
      <nz-tab nzTitle="Information">
        <div id="item-details-info">
          <ngx-json-viewer [json]="selectedItem"></ngx-json-viewer>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
