:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "config-select" "config-info" "view";
  overflow: auto;
}

#config-select {
  grid-area: config-select;

  nz-select {
    width: 100%;
  }
}

#config-info {
  grid-area: config-info;
}

#view {
  grid-area: view;
  overflow: auto;

  #view-no-selection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    overflow: auto;

    .item {
      display: flex;
      flex-direction: column;

      .image-wrapper {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          object-fit: contain;
          max-height: 100%;
          max-width: 100%;
        }
      }

      .title {
        margin: 0;
        text-align: center;
      }
    }
  }

  #view-selection {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "list details";
    overflow: auto;
    height: 100%;

    #item-list {
      grid-area: list;
      overflow: auto;
      border-right: 1px solid #eee;

      .item {
        display: flex;
        padding-right: 18px;
        margin-bottom: 8px;

        &.selected {
          background-color: #eef;
        }

        .image-wrapper {
          height: 100px;
          width: 100px;
          display: flex;
          align-items: center;

          img {
            width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
        }

        .description {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;

          .title {
            margin: 0;
          }
        }

        &:hover {
          background-color: #eee;
          cursor: pointer;
        }

        transition: background-color 200ms;
      }
    }

    #item-details {
      grid-area: details;
      height: 100%;
      overflow: auto;
      //display: flex;
      //flex-direction: column;

      //::ng-deep .ant-tabs-content {
      //  overflow: auto;
      //}

      img {
        width: 100%;
        object-fit: contain;
      }

      #item-details-info {
        padding: 0 10px;
      }
    }
  }
}
