<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label nzFor="userAgent">Playlist</nz-form-label>
    <nz-form-control nzErrorTip="The playlist must be specified!">
      <nz-select formControlName="playlist" id="playlist">
        <nz-option *ngFor="let opt of playlistOptions" [nzValue]="opt[1]" [nzLabel]="opt[0]"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="nsfwFolder">Folder for NSFW media</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" formControlName="nsfwFolder" id="nsfwFolder">
    </nz-form-control>
  </nz-form-item>
</form>
